[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateutils = "*"
python-forecastio = "*"
slackclient = "*"
zeep = "*"

[dev-packages]

[requires]
python_version = "3.8"
