[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.6.3"
slackclient = "==2.9.3"
zeep = "*"
dateutils = "*"
"forecast.io" = "*"
python-forecastio = "*"

[dev-packages]

[requires]
python_version = "3.9"
